* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  color: white;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: #222222;
  padding: 25px 20px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 370px;
}

img {
  margin-top: 10px;
  border-radius: 50%;
  width: 90px;
  margin-bottom: 15px;
  border: 1px solid white;
}

#name {
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

#green {
  color: #004aad;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
}

#dev {
  margin-bottom: 25px;
  font-size: 14px;
  color: #e0e0e0;
}

.link a {
  display: block;
  padding: 12px;
  border: none;
  background-color: #004aad;
  margin: 12px auto;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 290px;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}
.link a.hover-mobile {
  background-color: white !important;
  color: 00#4aad !important;
  font-weight: 600 !important;
}

.link a:hover,
.link a:active {
  background-color: white;
  color: #004aad;
  border: 1px solid #004aad;
  font-weight: 600;
}

@media (max-height: 700px) {
  body {
    align-items: flex-start;
    padding-top: 30px;
  }
}
